@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #AC8DAF;
  overflow: hidden;
  position: relative;
}

::selection {
  color: #FFE0E9;
  background: #AC8DAF;
}

.wrapper {
  width: 520px;
  height: 500px;
  border-radius: 20px;
  background: #dfc3c3;
  padding: 25px 28px 45px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 500;
  color: #484C7F;
  text-align: center;
}

.wrapper .search {
  position: relative;
  margin: 35px 0 18px;
}

.search input {
  height: 53px;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 15px;
  padding: 0 42px;
  background-color: #DDB6C6;
  border: 1px solid #999;
}

.search input::placeholder {
  color: #AC8DAF;
}

.search :where(i, span) {
  position: absolute;
  top: 50%;
  color: #999;
  transform: translateY(-50%);
}

.search i {
  left: 18px;
  font-size: 16px;
}

.search span {
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

.wrapper .info-text {
  font-size: 13px;
  color: #9A9A9A;
  margin: -3px 0 -10px;
}

.wrapper.active .info-text {
  display: none;
}

.info-text span {
  font-weight: 500;
}

.wrapper ul {
  height: 0;
  opacity: 0;
  padding-right: 1px;
  overflow-y: hidden;
  transition: all 0.2s ease;
}

.wrapper.active ul {
  opacity: 1;
  height: 305px;
}

.wrapper ul li {
  display: flex;
  list-style: none;
  margin-bottom: 5px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #D9D9D9;
  justify-content: space-between;
}

ul li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
ul .word p {
  color: #484C7F;
  font-size: 22px;
  font-weight: 500;
}
ul .word span {
  font-size: 12px;
  color: #666464;
}
ul .word i {
  color: #999;
  font-size: 15px;
  cursor: pointer;
}
ul .content {
  max-height: 215px;
  overflow-y: auto;
}
ul .content::-webkit-scrollbar {
  width: 0px;
}
.content li .details {
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
  color: #484C7F;
  border-left: 3px solid #AC8DAF;
}

.content li p {
  font-size: 17px;
  font-weight: 500;
}

.content li span {
  font-size: 15px;
  color: black;
}

.content .synonyms .list {
  display: flex;
  flex-wrap: wrap;
}

.content .synonyms span {
  cursor: pointer;
  margin-right: 5px;
}
